<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="column">
    <mat-card class="example-card" *ngFor="let product of products, let i = index">
      <img mat-card image height="100%" width="100%" src="{{product.photo}}" alt="Photo of {{product.name}}">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>
          <p class="price">${{product.price}} USD</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- Crear clases-->
        <p class="description">{{product.description}}</p>
        <p class="stock">Stock: {{product.stock}} | Distribuidor: {{product.provider}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="actions">
          <button (click)="comprar()" class="buyx">Comprar</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
<!-- POPUP -->

    <div id="popup" *ngIf="popup">
    <div class="popup-container">
        <div class="popup">
        <div class="titlepopup">¡Algo salió mal!</div>
        <div class="descriptionpopup"><p>Void Shop no realiza entregas a la Argentina, lo sentimos.</p></div>
        <div class="actions">
            <button type="button" (click)="cancel()" class="final">Salir</button>
        </div>
    </div>
    </div>
    </div>

</html>